@model IEnumerable<Group1hospitalproject.Models.DepartmentDto>
@{
    ViewBag.Title = "List";
}

<h2>Items in Inventory</h2>
<a href="/Department/New">Add more departments</a>

<div class="list-group">
    @foreach (var department in Model)
    {
        <a class="list-group-item list-group-item-action" href="/Department/Details/@department.DepartmentID">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">@department.DepartmentName</h3>

            </div>
            <div>@department.DepartmentDescription</div>
            <div>@department.DepartmentNews</div>
        </a>
    }
</div>