@{
    ViewBag.Title = "Create";
}
<a href="/Department/List" class="btn">Go back to list</a>
<br />
<h2>Create Department</h2>
<form action="/Department/Create" method="POST">
    <div>
        <label class="editname">Department Name: </label><input type="text" name="DepartmentName" />
    </div>
    <div>
        <label>Department Description: </label><input type="text" name="DepartmentDescription" />
    </div>
    <div>
        <label>Department News: </label><input type="text" name="DepartmentNews" />
    </div>
    <input type="submit" value="Add Department" class="btn" />
</form>