@model Group1hospitalproject.Models.ApplicationDto
@{
    ViewBag.Title = "Details";
}

<h2>Show List</h2>
<a href="/Application/List">Go back to list</a>
<h2>
    @Model.Name
</h2>


<div>Department: @Model.Phone</div>
<div>ApplicationType: @Model.Email </div>

<div>Description: @Model.JobTitle</div>


