
@model IEnumerable<Group1hospitalproject.Models.ApplicationDto>
@{
    ViewBag.Title = "List";
}

<h2>Application List</h2>

<div style="margin: 1em; text-align:right">
    <a href="/Application/New" class="button">New Application</a>
</div>



<div class="list-group">
    @foreach (var application in Model)
    {
        <a class="list-group-item list-group-item-action" href="/Application/Details/@application.ApplicationId">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">@application.Name</h3>

            </div>
            <p>Email: @application.Email</p>
          
                <small>Job: @application.JobId</small>
                <small>Title: @application.JobTitle</small>
         
        </a>
    }
</div>