
@model IEnumerable<Group1hospitalproject.Models.ApplicationDto>
@{
    ViewBag.Title = "List";
}

<h2>Application List</h2>
<a href="/Application/New" class="btn">New Application</a>
@foreach (var application in Model)
{
    <h2><a href="/Application/Details/@application.ApplicationId">@application.Name</a></h2>
    <div>Email: @application.Email</div>
    <div>JobId: @application.JobId</div>
    <div>JobTitle: @application.JobTitle</div>

}
