@model IEnumerable<Group1hospitalproject.Models.JobDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Application</h2>
<form action="/Application/Create" method="POST">
    <div>
        <label>Name:</label><input type="text" name="Name" />
    </div>
    <div>
        <label>Phone:</label><input type="text" name="Phone" />
    </div>
    <div>
        <label>Email:</label><input type="text" name="Email" />
    </div>
    <div>
        <label>Job Title:</label>
        <select name="JobId">
            @foreach (var jobs in Model)
            {
                <option value="@jobs.JobId">@jobs.JobTitle</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Add Application" />
    </div>
</form>
