@model Group1hospitalproject.Models.ViewModels.DetailsPatient
@{
    ViewBag.Title = "Details";
}

<a href="/Patient/List">Go back to Patients</a>

<h2>Patient Details</h2>

<div>First Name: @Model.SelectedPatient.FirstName</div>
<div>Last Name: @Model.SelectedPatient.LastName</div>
<div>Phone number: @Model.SelectedPatient.PhoneNumber</div>
<div>Email: @Model.SelectedPatient.Email</div>


<a href="/Patient/DeleteC/@Model.SelectedPatient.PatientID" class="btn">Delete</a>


<a href="/Patient/Edit/@Model.SelectedPatient.PatientID" class="btn">Edit</a>





