@model IEnumerable<Group1hospitalproject.Models.PatientsDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div style="margin: 1em; text-align:right">
    <a href="/Patient/New" class="button">Add New</a>
</div>


@foreach (var patient in Model)
{

    <a class="list-group-item list-group-item-action" href="/Patient/Details/@patient.PatientID">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">@patient.FirstName @patient.LastName</h3>

        </div>
  
       
    </a>

 

}
