@model IEnumerable<Group1hospitalproject.Models.DoctorDto>
@{
    ViewBag.Title = "List";
}


<h2>Doctor List</h2>
<div style="margin: 1em; text-align:right">
    <a href="/Doctor/New" class="button">New Doctor</a>
</div>
<div class="list-group">
    @foreach (var doctor in Model)
    {
        <a class="list-group-item list-group-item-action" href="/Doctor/Details/@doctor.DoctorID">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">@doctor.DoctorName</h3>

            </div>
            <div>@doctor.DoctorDescription</div>
            <div>@doctor.DoctorEmail</div>
            <div>@doctor.DepartmentName</div>
        </a>
    }
</div>