@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron-1"></div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <img width="500" src="https://news.christianacare.org/wp-content/uploads/2022/12/Khan-Family_3-800x450.jpg" alt="a baby in hospital" />
        <p>
            We provide you the most updated medical news. Please check the below link and follow our social media!!!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vaccination</h2>
        <img width="500" src="https://www.vcuhealth.org/-/media/media/featurednewsimages/vaccination_illustration_resized.ashx" alt="iamge of person being vaccinated" />
        <p>Vaccination protect us from infection and illness. We have different types of vaccination service for you, including COVID-19 vaccination.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online Services</h2>
        <img src="https://cdn5.vectorstock.com/i/1000x1000/87/44/medical-chat-app-logo-icon-design-template-vector-22318744.jpg" alt="" />
        <p>We have live chat medical service available to you.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
