@model IEnumerable<Group1hospitalproject.Models.ParkingCarDto>
@{
    ViewBag.Title = "List";
}

<h2>Cars</h2>

<div style="margin: 1em; text-align:right">
    <a href="/ParkingCar/New" class="button">Add a Car</a>
</div>


@foreach (var parkingcar in Model)
{
    <a class="list-group-item list-group-item-action" href="/ParkingCar/Details/@parkingcar.ParkingCarID">
   
       <div class="d-flex w-100 justify-content-between">
            <p>Licence Plate:</p>
            <h3 class="mb-1"> @parkingcar.LicencePlate</h3>
        </div>
</a>
}

