@model IEnumerable<Group1hospitalproject.Models.ParkingCarDto>
@{
    ViewBag.Title = "List";
}
<a href="/ParkingCar/New">Add a Car</a>
<h2>Cars</h2>
@foreach (var parkingcar in Model)
{
    <h2>Licence Plate: <a href="/ParkingCar/Details/@parkingcar.ParkingCarID">@parkingcar.LicencePlate</a></h2>
}

