@model IEnumerable<Group1hospitalproject.Models.DoctorDto>
@{
    ViewBag.Title = "Create";
}

<h2>Register Car</h2>
<form action="/ParkingCar/Create" method="POST">

    <div>
        <label>LicencePlate: </label><input type="text" name="LicencePlate" />
    </div>
    <div>
        <label>Doctor Name:</label>
        <select name="DoctorID">
            @foreach (var doctor in Model)
            {
                <option value="@doctor.DoctorID">@doctor.DoctorName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Car" />
    </div>
</form>
