@model IEnumerable<Group1hospitalproject.Models.ParkingSpotDto>
@{
    ViewBag.Title = "List";
}

<h2>Parking Spots</h2>
<div style="margin: 1em; text-align:right">
    <a href="/ParkingSpot/New" class="button">Add a Parking Spot</a>
</div>



@*<div class="list-group-item list-group-item-action">
    @foreach (var parkingspot in Model)
    {
        <h2>Spot Number: <a href="/ParkingSpot/Details/@parkingspot.ParkingSpotID">@parkingspot.SpotNumber</a></h2>
    }
</div>*@

@foreach (var parkingspot in Model)
{
    <a class="list-group-item list-group-item-action"  href="/ParkingSpot/Details/@parkingspot.ParkingSpotID">

        <div class="d-flex w-100 justify-content-between">
            <p>Licence Plate:</p>
            <h3 class="mb-1">@parkingspot.SpotNumber</h3>
        </div>
    </a>
}