
@{
    ViewBag.Title = "Create";
}
<a href="/ParkingSpot/List">Go back to list</a>
<h2>Create Parking Spot</h2>

<form action="/ParkingSpot/Create" method="POST">
    <div>
        <label>Spot Number: </label>
        <input type="number" name="SpotNumber" />
    </div>
    <div>

        <input type="submit" value="Add Spot Number" />
    </div>
</form>

