@model IEnumerable<Group1hospitalproject.Models.ParkingScheduleDto>
@{
    ViewBag.Title = "List";
}

<h2>Parking Bookings</h2>

<div style="margin: 1em; text-align:right">
    <a href="/ParkingSchedule/New" class="button">Book A Parking Spot</a>
</div>


@*<div class="list-group-item list-group-item-action">
    @foreach (var parkingschedule in Model)
    {
        <h2>Booking Info (Click For Details): <a href="/ParkingSchedule/Details/@parkingschedule.ParkingScheduleID">@parkingschedule.ParkingScheduleID</a></h2>
    }
</div>*@

@foreach (var parkingschedule in Model)
{
    <a class="list-group-item list-group-item-action" href="/ParkingSchedule/Details/@parkingschedule.ParkingScheduleID">

        <div class="d-flex w-100 justify-content-between">
            <p>Licence Plate:</p>
            <h3 class="mb-1"> @parkingschedule.ParkingScheduleID</h3>
        </div>
    </a>
}