@model IEnumerable<Group1hospitalproject.Models.ParkingScheduleDto>
@{
    ViewBag.Title = "List";
}
<a href="/ParkingSchedule/New">Book A Parking Spot</a>
<h2>Parking Bookings</h2>
@foreach (var parkingschedule in Model)
{
    <h2>Booking Info (Click For Details): <a href="/ParkingSchedule/Details/@parkingschedule.ParkingScheduleID">@parkingschedule.ParkingScheduleID</a></h2>
}