@model Group1hospitalproject.Models.ViewModels.CreateSchedule
@{
    ViewBag.Title = "Create";
}

<h2>Book Parking</h2>
<a href="/ParkingSchedule/list">Go Back To Bookings</a>
<form action="/ParkingSchedule/Create" method="POST">

   
    <div>
        <label>Spot Number:</label>
        <select name="ParkingSpotID">
            @foreach (var spot in Model.SpotOptions)
            {
                <option value="@spot.ParkingSpotID">@spot.SpotNumber</option>

            }
        </select>
    </div>
 
    <div>
        <label>License Plate:</label>
        <select name="ParkingCarID">
            @foreach (var car in Model.CarOptions)
            {
                <option value="@car.ParkingCarID">@car.LicencePlate</option>

            }
        </select>
    </div>
    <div>
        <label>Booking Time Start: </label> <input type="datetime-local" name="DateTimeIn" />
    </div>
    <div>
        <label>Booking Time End: </label> <input type="datetime-local" name="DateTimeOut" />
    </div>

    <div>
        <input type="submit" value="Add Parking Schedule" />
    </div>
</form>
