<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <div style="margin: 1em; text-align:right">
        <a href="/" style="display: inline-block; background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Go Back</a>

    </div>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>